<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://code.angularjs.org/1.2.13/angular.js"></script>
</head>
<body>
<!-- Initialize a new AngularJS app and associate it
     with a module named "instantSearch"-->
<div ng-app="searchApp" ng-controller="searchController" style="width:500px">
    <div>
        <h2>Information Retrieval Search Engine</h2>
    </div>
    <div style="margin:20px">
        <p>CS_242_Group: Silvia, Yue, Jasper, William, Brandon<br><br>
            Use the search below to find an associated web page!
        </p>
    </div>

    <div ng-controller="ngSearch">
        <input size="50" type="text" ng-model="searchString" placeholder="Enter your search terms!" />

        <div class="body">
            <input type="button" style="cursor:pointer" value="Lucene Search" ng-click="putDataLucene(searchString)" />
            <input type="button" style="cursor:pointer" value="Hadoop Search" ng-click="putDataHadoop(searchString)" />
        </div>
         <div class="body">Searched Query for: {{ visible }} </div>
    </div>
        <br>
    <ul>
        <!-- Render a li element for every entry in the items array. Notice
             the custom search filter "searchFor". It takes the value of the
             searchString model as an argument.
         -->
        <li ng-repeat="m in movies | searchFor:searchString">
            <p>{{m.releaseYr}} : {{m.name}}</p>
        </li>
    </ul>
</div>

    <script src="js/app.js"></script>
    <script src="js/controller.js"></script>
</body>
</html>